.featuressec{
    text-align: center;
    margin: 150px 150px 0 150px;
}
.featuressec h2{
    color: #1a1a1a;
    font-weight: 700;
    font-size: 58px;
    margin: 0;
}
.featuressec .text{
    font-weight: 500;
    font-size: 20px;
    
    color: #333333;  
    margin-bottom: 80px;
   

}